<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/cloudy.png"/>
        <link rel="stylesheet" href = "/css/styles.css"/>
    </head>
    <body>
       <div class="main-content">
            {{>header}}
            <p>This site is created by Mahesh M. It uses the data from mapbox.com and weatherstack.com</p>
        <img src="/img/bird.jpg" class="portrait" alt="a_magical_birdie" />
       </div>
        {{>footer}}
    </body>
</html>